:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  line-height: 24px;
  letter-spacing: 0.02em;
  background-color: var(--white);
}
.adress {
  font-style: normal;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);
  cursor: pointer;
}
.button:hover {
  background-color: var(--ocean);
}
.button:focus {
  background-color: var(--ocean);
}
.contacts {
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
}
.contacts:hover {
  color: var(--ocean);
}
.contacts:focus {
  color: var(--ocean);
}
.employee-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}
.employee-position {
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
}
.footer {
  background-color: var(--navy-blue);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud);
}
.hidden {
}
.link-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--navy-blue);
}
.link-menu:hover {
  color: var(--ocean);
}
.link-menu:focus {
  color: var(--ocean);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  margin-right: 76px;
  width: 115px;
  text-transform: uppercase;
}
.logo-bottom {
  margin-bottom: 16px;
  text-transform: uppercase;
}
.name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.photo-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.photo-mark {
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.section-one {
  background-color: var(--navy-blue);
}
.section-three {
  background-color: var(--cloud);
}
.strengths-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.strengths-description {
  color: var(--slate);
}
.studio {
  color: var(--dark, #2e2f42);
}
.studio-a {
  color: var(--cloud);
}
.team-list {
  background-color: var(--white);
}
